HOST: http://dash.fcolors.ru/api/v1/

--- Go python3 ---

---
Public API of [GoPython3](http://gopython3.com)

Currently it's alpha, so expect changes.
---

--
Job Resources
--

List all jobs, that we ever processed (or are processing)
GET /jobs/
< 200
< Content-Type: application/json
{ "items": [
    { "url": "/job/1/", 
      "status": "compeleted",
      "gopy3": "B", 
      "created_at": "2013-09-28T02:15:15Z",
      "started_at": "2013-09-28T03:15:15Z",
      "finished_at": "2013-09-28T04:15:15Z"
    },
    { "url": "/job/2/", 
      "status": "running",
      "gopy3": null, 
      "created_at": "2013-09-28T02:18:15Z",
      "started_at": "2013-09-28T03:18:15Z",
      "finished_at": null
    },
    { "url": "/job/3/", 
      "status": "pending",
      "gopy3": null, 
      "created_at": "2013-09-28T02:15:15Z",
      "started_at": null,
      "finished_at": null
    }    
]}


Process your requirements to add new job
POST /jobs/
> Content-Type: application/json
{ "requirements": "django==1.4.3\ndjango-storages\ndjango-compressor==1.1.2"}
< 201
< Content-Type: application/json
{ "status": "created", 
  "url": "/jobs/2/"
}


Job instance, listing containing packages python3 support.
Values update while the job is running.
GET /jobs/{id}/
< 200
< Content-Type: application/json
{ "url": "/job/2/", 
  "status": "running",
  "gopy3": null, 
  "created_at": "2013-09-28T02:15:15Z",
  "started_at": "2013-09-28T03:15:15Z",
  "finished_at": false,
  "packages": [
    { "url": "/packages/django/",
      "name": "django",
      "version": "1.4.3",
      "status": "compeleted",
      "created_at": "2013-09-28T02:15:16Z",
      "updated_at": "2013-09-28T03:22:18Z",
      "finished_at": "2013-09-28T03:22:18Z"
    },
    { "url": "/packages/django-storages/",
      "name": "django-storages",
      "version": null,
      "status": "running",
      "created_at": "2013-09-28T02:15:16Z",
      "updated_at": "2013-09-28T03:22:35Z",
      "finished_at": null
    },
    {
      "url": "/packages/django_compressor/",
      "name": "django-compressor",
      "version": "1.1.2",
      "status": "pending",
      "created_at": "2013-09-28T02:15:16Z",
      "updated_at": null,
      "finished_at": null
    }
  ]
}

-- Packages Resources --

Python 3 support status for single package.
For now we'll check only latest version available on PyPI and in repo.
List view is not avaliable yet.
GET /packages/{id}/
< 200
< Content-Type: application/json
{ "url": "/packages/django_compressor/",
  "name": "django-compressor",
  "gopy3": "B",
  "python3": ["3.3"],
  "pypi_url": "https://pypi.python.org/pypi/django_compressor",
  "pypi_version": "1.3",
  "created_at": "2013-09-28T02:15:16Z",
  "updated_at": "2013-09-28T03:22:35Z",
  "repo": {
      "url": "https://github.com/jezdez/django_compressor",
      "last_commit": "2013-09-22T01:56:12Z"
  },
  "ci_url": {
      "url": "https://travis-ci.org/jezdez/django_compressor",
      "status": "passing"
  },
  "issues": [{
      "url": "https://github.com/jezdez/django_compressor/issues/360",
      "status": "closed"
  }],
  "fork": [],
  "comments": {
      "count": 1,
      "most_voted": "Enlarge your python!"
  }
}






