server {
    listen 80;
    server_name {{ SERVER_NAME }};
    access_log /var/log/nginx/{{ INSTANCE_NAME }}-access.log;
    error_log  /var/log/nginx/{{ INSTANCE_NAME }}-error.log;
    charset utf-8;
    client_max_body_size 32m;

    gzip_types text/plain text/xml application/xhtml+xml image/x-icon text/css text/javascript application/javascript application/x-javascript text/x-js text/ecmascript application/ecmascript text/vbscript text/fluffscript image/svg+xml application/x-font-ttf application/x-font font/opentype font/otf font/ttf application/x-font-truetype application/x-font-opentype;

    location / {
        include uwsgi_params;
        uwsgi_pass unix:///var/run/uwsgi/{{ INSTANCE_NAME }}.sock;
    }

    location /static {
        root {{ PROJECT_DIR }};
        expires 24h;
    }
    location /media {
        root {{ PROJECT_DIR }};
        expires 24h;
    }
    location ~* ^/(robots\.txt|humans\.txt|favicon\.ico|crossdomain\.xml|yandex_.*\.txt|pinterest-.*\.html)$ {
        root {{ PROJECT_DIR }}/static;
        expires 24h;
    }

    error_page  404  /{{ PROJECT_NAME }}/templates/404.html;
    error_page  500  /{{ PROJECT_NAME }}/templates/500.html;
}

server {
    listen 80;
    server_name www.{{ SERVER_NAME }};
    rewrite ^(.*)$ http://{{ SERVER_NAME }}$1 permanent;
}

types {
    application/x-font-woff    woff;
}
