{% load static compress %}


<!doctype html>
<html class="no-js">
<head>
    <title>Go python3, nerds!!!</title>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    {% compress css %}
    <link rel="stylesheet" href="{% static 'less/gopython3.less' %}" type="text/less" />
    {% endcompress %}
</head>
<body>
    <div class="js-body"></div>
    <script src="{% static 'js/libs/require.js' %}" data-main="{% static 'js/init.js' %}"></script>
</body>
</html>
