{% load static compress %}


<!doctype html>
<html class="no-js">
<head>
    <title>Go Python 3!</title>

    <meta charset="utf-8" />
    {% compress css %}
    <link rel="stylesheet" href="{% static 'less/gopython3.less' %}" type="text/less" />
    {% endcompress %}
    <link href='http://fonts.googleapis.com/css?family=Averia+Sans+Libre|Varela' rel='stylesheet' type='text/css'>
</head>
<body>
    <section class="page">
        <div class="page__wrapper">
            <div class="page__content-wrapper">
                <header class="page__header">
                    <a class="page__logo" href="/">Go Python 3!</a>
                    <a class="page__madeby" href="http://futurecolors.ru">
                        Made by <span style="color: #cf26a5">Future</span> <span style="color: #277baa">Colors</span>
                    </a>
                    <div class="page__greeting">
                        Dear geeks, the time has come to migrate all your projects to Python 3.<br />
                        We'll help you update your dependencies, and you need to migrate only your own code.
                    </div>
                </header>
                <div class="js-body"></div>
            </div>
        </div>
    </section>
    {% csrf_token %}

    {% compress js %}
    <script src="{% static 'js/vendor/require.js' %}"></script>

    <script src="{% static 'js/app/App.js' %}"></script>
    <script src="{% static 'js/app/collections/Collection.js' %}"></script>
    <script src="{% static 'js/app/collections/PackageCollection.js' %}"></script>
    <script src="{% static 'js/app/controllers/JobController.js' %}"></script>
    <script src="{% static 'js/app/layouts/JobLayout.js' %}"></script>
    <script src="{% static 'js/app/models/JobModel.js' %}"></script>
    <script src="{% static 'js/app/models/PackageModel.js' %}"></script>
    <script src="{% static 'js/app/modules/JobModule.js' %}"></script>
    <script src="{% static 'js/app/routers/JobRouter.js' %}"></script>
    <script src="{% static 'js/app/views/GreetingView.js' %}"></script>
    <script src="{% static 'js/app/views/JobFormView.js' %}"></script>
    <script src="{% static 'js/app/views/JobStatusView.js' %}"></script>
    <script src="{% static 'js/app/views/PackageListView.js' %}"></script>
    <script src="{% static 'js/app/views/PackageView.js' %}"></script>

    <script src="{% static 'js/init.js' %}"></script>
    {% endcompress %}
</body>
</html>
