{% load static compress %}


<!doctype html>
<html class="no-js">
<head>
    <title>Go Python 3!</title>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    {% compress css %}
    <link rel="stylesheet" href="{% static 'less/gopython3.less' %}" type="text/less" />
    {% endcompress %}
    <link href='http://fonts.googleapis.com/css?family=Averia+Sans+Libre|Varela' rel='stylesheet' type='text/css'>
</head>
<body>
    <section class="page">
        <div class="page__wrapper">
            <div class="page__content-wrapper">
                <header class="page__header">
                    <a class="page__logo" href="/">Go Python 3!</a>
                    <a class="page__madeby" href="http://futurecolors.ru">
                        Made by <span style="color: #cf26a5">Future</span> <span style="color: #277baa">Colors</span>
                    </a>
                    <div class="page__greeting">
                        Dear geeks, the time has come to migrate all your projects to Python 3.<br />
                        We'll help you update your dependencies, and you need to migrate only your own code.
                    </div>
                </header>
                <form class="job-form form js-form" role="form" method="post">
                    <div class="job-form__instruction">
                        Paste you requirements.txt below&hellip;
                    </div>
                    <div class="job-form__input input-group">
                        <textarea class="job-form__textarea form-control">django-debug-toolbar-user-panel-fc==1.0</textarea>
                        <span class="input-group-btn">
                            <button class="job-form__submit btn btn-success">GO!</button>
                        </span>
                    </div>
                    <div class="job-form__instruction">
                        &hellip;and we'll tell how much effort it will take to go python 3 for your project.
                    </div>
                </form>
            </div>
        </div>
    </section>
</body>
</html>
