form.form.js-form(role="form", method="post")
    div.form-group
        textarea(name="requirements")
        button(type="submit") GO!
        if isEmpty
            p.help-block Enter the name of the package or list format requirements.txt
