form.job-form.form.js-form(role="form", method="post")
    div.input-group
        textarea.job-form__textarea.form-control(name="requirements")= job.requirements
        span.input-group-btn
            button.job-form__submit.btn.btn-default(type="submit") GO!
    if isEmpty
        p.help-block Enter the name of the package or list format requirements.txt
