section.jumbotron
    h1 Go python 3, nerds!!!
    p.lead
        | Dear nerds!
        br
        | Let us train ourselves to do projects under Python 3. We all know that many libraries do not support it, but together we will make the world a better place if we fork, port, and eventually use them!
