@import '../bootstrap/less/bootstrap';


@job-form-height: 80px;

.job-form {
    min-height: @job-form-height + 20px;

    &__textarea {
        height: @job-form-height;
        resize: none;
    }
    &__submit {
        height: @job-form-height - 11px;
    }
} 
